.fundo{
  background-image: 
    linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
    url("https://picsum.photos/1000/250?random");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header{
  height: 200px;
}
header p{
  font-size: 30px;
}